<style>
.showblogimg{
  background: url(<%= @blogPost.image %>);
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
<div class="showblogimg">  
  <div class="navrow">
    <div class="large-2 columns left">
      <%= image_tag("footerlogo.png", class: "logo margin2v padding12h") %>
    </div>
    <div class="large-9 columns">
      <ul class="inline-list nav margin26t right">
        <li><a href="<%= root_path %>">HOME</a></li>
        <li>     |     </li>
        <li><a href="<%= front_howitworks_path %>">HOW IT WORKS</a></li>
        <li>     |     </li>
        <li><a href="<%= front_blog_path %>">BLOG</a></li>
        <li>     |     </li>
        <li><a href="<%= front_support_path %>">SUPPORT</a></li>
      </ul>
    </div>
    <div class="large-1 columns">
      <a href="http://www.twitter.com/devoniteuk" target="_blank"><div class="loginbutton"><%= image_tag("twitterbird.png", class: "") %><span class="margin01t"></span></div></a>
    </div>
  </div> 

  <div class="narrow">
    <div class="large-12 columns text-left content text-center">
      <div class="margin8t11b">
        <h4 class="sanchez grey"><%= @blogPost.created_at.to_date.to_formatted_s(:short) %></h4>
        <h1><b><%= @blogPost.title %><b></h1>
      </div>
    </div>
  </div>

<div class="wcontainer">
  <div class="narrower">
    <div class="large-12 columns text-left black">
      <div class="margin4v blogtext darkgrey">
        <p class="blogtext"><%= @blogPost.content %>
        </p>
      </div>
    </div>
  </div>
</div>
