<%
meta title: "Devonite | <%= @blogPost.title %>",
     description: "",
     keywords: %w(blog learn website design devon small business)
%>

<style>
.showblogimg{
  background: url(<%= @blogPost.image %>);
  background-size: cover;
  background-repeat: no-repeat;
}
</style>
<div class="showblogimg">  
  <div class="frontheader navrow">
    <div class="large-2 columns left">
      <%= image_tag("footerlogo.png", class: "logo margin2v padding12h") %>
    </div>
    <div class="large-9 columns">
      <ul class="inline-list nav white margin26t right">
        <li><%= link_to(root_path) do %>HOME<% end %></li>
        <li>     |     </li>
        <li><%= link_to(howitworks_path) do %>HOW IT WORKS<% end %></li>
        <li>     |     </li>
        <li><%= link_to(blog_path) do %>BLOG<% end %></li>
        <li>     |     </li>
        <li><%= link_to(support_path) do %>SUPPORT<% end %>
        </li>
      </ul>
    </div>
    <div class="large-1 columns">
      <a href="http://www.twitter.com/devoniteuk" target="_blank"><div class="loginbutton"><%= image_tag("twitterbird.png", class: "") %><span class="margin01t"></span></div></a>
    </div>
  </div> 

  <div class="mobilefrontheader row content">
    <div class="row">
      <div class="small-12 columns text-center">
        <%= image_tag("footerlogo.png", class: "logo margin1t") %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center content">
        <ul class="no-bullet nav margin26t">
          <%= link_to(root_path) do %><li class="mobilenavwhite">HOME</li><% end %><br>
          <%= link_to(howitworks_path) do %><li class="mobilenavwhite">HOW IT WORKS</li><% end %><br>
          <%= link_to(blog_path) do %><li class="mobilenavwhite">BLOG</li><% end %><br>
          <%= link_to(support_path) do %><li class="mobilenavwhite">SUPPORT
          </li><% end %>
        </ul>
      </div>
    </div>
  </div> 

  <div class="narrow">
    <div class="large-12 columns content">
      <% if flash[:notice] %>
        <div data-alert class="alert-box success radius content">
          <%= notice %>
          <a href="" class="close">&times;</a>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div data-alert class="alert-box alert radius content">
            <%= alert %>
          <a href="" class="close">&times;</a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="narrow">
    <div class="large-12 columns text-left content text-center">
      <div class="margin8t11b">
        <h4 class="sanchez grey"><%= @blogPost.created_at.to_date.to_formatted_s(:short) %></h4>
        <h1><b><%= @blogPost.title %><b></h1>
      </div>
    </div>
  </div>

<div class="wcontainer">
  <div class="narrower">
    <div class="large-12 columns text-left black">
      <div class="margin4v blogtext darkgrey">
        <p class="blogtext"><%= @blogPost.content %>
        </p>
      </div>
    </div>
  </div>
</div>
