<div class="blogimg">  
  <div class="frontheader navrow">
    <div class="large-2 columns left">
      <%= image_tag("footerlogo.png", class: "logo margin2v padding12h") %>
    </div>
    <div class="large-9 columns">
      <ul class="inline-list nav white margin26t right">
        <li><%= link_to(root_path) do %>HOME<% end %></li>
        <li>     |     </li>
        <li><%= link_to(front_howitworks_path) do %>HOW IT WORKS<% end %></li>
        <li>     |     </li>
        <li><%= link_to(front_blog_path) do %>BLOG<% end %></li>
        <li>     |     </li>
        <li><%= link_to(front_support_path) do %>SUPPORT<% end %>
        </li>
      </ul>
    </div>
    <div class="large-1 columns">
      <a href="http://www.twitter.com/devoniteuk" target="_blank"><div class="loginbutton"><%= image_tag("twitterbird.png", class: "") %><span class="margin01t"></span></div></a>
    </div>
  </div> 

  <div class="mobilefrontheader row content">
    <div class="row">
      <div class="small-12 columns text-center">
        <%= image_tag("footerlogo.png", class: "margin1t") %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center content">
        <ul class="no-bullet nav margin26t">
          <%= link_to(root_path) do %><li class="mobilenavwhite">HOME</li><% end %><br>
          <%= link_to(front_howitworks_path) do %><li class="mobilenavwhite">HOW IT WORKS</li><% end %><br>
          <%= link_to(front_blog_path) do %><li class="mobilenavwhite">BLOG</li><% end %><br>
          <%= link_to(front_support_path) do %><li class="mobilenavwhite">SUPPORT
          </li><% end %>
        </ul>
      </div>
    </div>
  </div> 

  <div class="narrow">
    <div class="large-12 columns content">
      <% if flash[:notice] %>
        <div data-alert class="alert-box success radius content">
          <%= notice %>
          <a href="" class="close">&times;</a>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div data-alert class="alert-box alert radius content">
            <%= alert %>
          <a href="" class="close">&times;</a>
        </div>
      <% end %>
    </div>
  </div>

  <div class="narrow">
    <div class="large-12 columns text-left content">
      <div class="margin5t">
        <h4 class="sanchez grey">2nd September</h4>
        <h2><b>Social media and why you should use it<b></h2>
      </div>
    </div>
  </div>

  <div class="narrow">
    <div class="large-9 columns text-left content">
      <p class="font09">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </div>

  <div class="narrow">
    <div class="large-2 columns text-center content">
      <div class="margin5b">
        <p class="sanchez readmore">Read More</p>
      </div>
    </div>
  </div>
</div>

<div class="wcontainer darkgrey">

<% @blogPosts.each do |post| %>
  <div class="narrow padding2v">
  	<div class="large-9 columns text-left content">
  		<h4 class="sanchez"><b><%= post.created_at.to_date.day %>
  			<%= Date::ABBR_MONTHNAMES[post.created_at.to_date.month] %></b></h4>
      <h1 class="blogheader"><b><%= link_to post.title, blogpost_path(post) %></b></h1>
      <p><%= truncate(post.content, :length => 200, :separator => ' ') %></p>
    </div>
  </div>
<% end %>

</div>
<%= render "layouts/footer" %>

