<%
meta title: "Devonite | How It Works",
     description: "Learn about Devonites stunning designs and why our solution is perfect for the small businesses of Devon",
     keywords: %w(how devonite works small business)
%>

<%= render 'layouts/front_header' %>

<div class="seamountain margin4t">
  <div class="narrow">
    <div class="large-6 columns content text-center">
      <%= image_tag("video.png", class: "margin5b", alt: "Coming Soon") %>
    </div>
    <div class="large-6 columns">
      <br>
    </div>
  </div>
</div>


  <div class="bcontainer">
    <div class="narrow padding4t3b">
      <div class="large-3 columns content">
        <%== @content2.section1 %>
      </div>
      <div class="large-3 columns content">
        <%== @content2.section2 %>
      </div>
      <div class="large-3 columns content">
        <%== @content2.section3 %>
      </div>
      <div class="large-3 columns content">
        <%== @content2.section4 %>
      </div>
    </div>
    <div class="narrow">
      <div class="large-12 columns text-center">
        <%= image_tag("browserbar.png") %>
        <%= image_tag("frame1.png") %>
      </div>
    </div>
    </div>
  </div>

  <div class="wcontainer blue">
    <div class="narrow"> 
      <div class="large-6 columns content">
        <h3 class="margin2t"><%== @content2.section5 %></h3>
        <p class="font09 margin1t margin4b"><%== @content2.section6 %></p>
      </div>
      <div class="large-6 columns content">
        <h3 class="margin2t"><%== @content2.section7 %></h3>
        <p class="font09 margin1t margin4b"><%== @content2.section8 %></p>
      </div>
    </div>
  </div>

  <div class="grcontainer">
    <div class="narrow">
      <div class="large-12 columns text-center">
        <h3 class="margin2t"><%== @content2.section9 %></h3>
      </div>
    </div>
    <div class="narrow padding2t">
      <div class="large-4 columns padding2h">
        <%== @content2.section10 %>
      </div>
      <div class="large-4 columns padding2h">
        <%== @content2.section11 %>
      </div>
      <div class="large-4 columns padding2h">
        <%== @content2.section12 %>
      </div>
    </div>
    <div class="narrow">
      <div class="large-12 columns text-center content">
        <a href="<%= getstarted_path%>" class="wbutton margin2t margin7b"><span class="margin01t black"><%== @content2.section13 %></span></a>
      </div>
    </div>
  </div>
<%= render "layouts/footer" %>
