
  <div class="margin7t">
    <div class="row">
      <div class="large-12 columns text-center">
        <h1 class="intro blue">websites with character</h1>
        <h3 class="blue">for just £50 a month</h3>
        <a href="" class="videobutton margin3t"><%= image_tag "pb.png" %><span class="margin01t">WATCH THE VIDEO</span></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= image_tag "mountains.png" %>
    </div>
  </div>

  <div class="lgcontainer">
    <div class="row">
      <div class"large-12 columns">
        <br><br>
      </div>
    </div>
  </div>

  <div class="gcontainer">
    <div class="narrow">
      <div class="large-6 columns text-left content">
        <div class="margin5v">
          <h2>it's no surprise we're <b>Devons</b> most popular website solution</h2>
          <p class="margin2t">It's 2014, having a bespoke website that <b>stands out</b> is important to your business, but the pricet ag that comes with it often stands out more.<br /><br /><b>Devonite</b> provides fair pricing through the use of clever automation and talented designers, wich is probably why we're Devons go-to solution for website design.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="bcontainer">
    <div class="row">
      <div class="large-12 columns text-center">
        <h2 class="margin2t">perfect designs, simple configuration</h2>
      </div>
    </div>
    <div class="narrow">
      <div class="large-3 columns content">
        <%= image_tag("cmsbrowser.png", class: "margin5v") %>
      </div>
      <div class="large-9 columns content">
        <p class="margin5v">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.<br><a href="" class="wbutton margin1t"><span class="margin01t black">TAKE THE TOUR</span></a></p>
      </div>
    </div>
    <div class="narrow">
      <div class="large-3 columns content">
        <%= image_tag("cmsbrowser.png") %>
      </div>
      <div class="large-9 columns content">
        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.<br><a href="" class="wbutton margin1t"><span class="margin01t black">VIEW OUR WEBSITES</span></a></p>
      </div>
    </div>
    <div class="row">
      <div class="large-2 columns">
        <%= image_tag("mrshark.png") %>
      </div>
      <div class="large-10 columns">
        <p></p>
      </div>
    </div>
  </div>

  <div class="grcontainer">
    <div class="row">
      <div class="large-3 columns text-left">
        <%= image_tag("cave1.png") %>
      </div>
      <div class="large-6 columns text-center">
        <h2 class="margin2t">it's time to stand out</h2>
        <p class="margin2v">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <a href="" class="wbutton margin1t margin7b"><span class="margin01t black">GET STARTED</span></a>
      </div>
      <div class="large-3 columns text-right">
        <%= image_tag("cave2.png") %>
      </div>
    </div>
  </div>