  <div class="section1">
  <%= render 'layouts/front_header' %>

  <div class="header1align">
    <div class="row">
      <div class="large-12 columns text-center">
        <h1 class="intro blue"><%== @content.section1 %></h1>
        <h3 class="blue"><%== @content.section2 %></h3>
        <a href="" class="videobutton margin3t"><%= image_tag "pb.png" %><span class="margin01t">WATCH THE VIDEO</span></a>
      </div>
    </div>
  </div>
</div>

<div class="gbreak">
</div>

<div class="gcontainer">
  <div class="padding4t3b">
    <div class="narrow">
      <div class="large-6 columns text-left content">
          <h3>Here's the problem</h3>
          <p class="thin">Devonite is a next generation website solution. We take the bespoke, beautiful designs you'd expect from a high-end design job and merge them with the innovative, streamlined functionality you'd get from a leading website builder. Giving Devon businesses the best of both worlds.</p>
      </div>
      <div class="large-6 columns content text-left">
          <h3>This is why we're different</h3>
          <p class="thin">Devonite is a next generation website solution. We take the bespoke, beautiful designs you'd expect from a high-end design job and merge them with the innovative, streamlined functionality you'd get from a leading website builder. Giving Devon businesses the best of both worlds.</p>
      </div>
    </div>
    <div class="narrow padding2v">
      <div class="large-12 columns content">
        <div class="previewbox">
          <div class="row content valign-middle padding2v">
            <div class="large-4 columns content">
              <h4>Control, Configure, Create</h4>
            </div>
            <div class="large-4 columns">
              <h5 class="thin font09">Devonite is a next generation website solution. We take the bespoke, beautiful designs you'd expect from a high-end design job and merge them with the innovative.</h5>
            </div>
            <div class="large-4 columns text-center content">
              <a href="" class="wbutton"><span class="margin01t black">LEARN MORE</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="bcontainer">
  <div class="narrow">
    <div class="large-4 columns">
    </div>
    <div class="large-4 columns text-center">
      <h4></h4>
    </div>
    <div class="large-4 columns">
    </div>
  </div>
</div>

<!-- <div class="bcontainer">
  <div class="narrow">
    <div class="large-12 columns text-center content">
      <h3 class="margin2t"><%== @content.section3 %></h3>
    </div>
  </div>
  <div class="narrower">
    <div class="large-12 columns text-center content">
      <p class="margin2b thin"><%== @content.section4 %></p>
    </div>
  </div>
  <div class="row dboverlay text-center">
    <div class="large-4 columns">
      <br>
    </div>
    <div class="large-4 columns content">
      <h1 class="margin5t blogdate content dbheaderborder">CONTROL</h1>
      <h6 class="margin1t">Our panel gives you the power to edit content, post articles and keep track of your success effortlessly.</h6>
      <a href="<%= front_howitworks_path%>" class="wbutton margin2t"><span class="margin01t black">FIND OUT HOW IT WORKS</span></a>
    </div>
    <div class="large-4 columns">
      <br>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns text-center">
      <%= image_tag("dashboard.png", class: "margin2t") %>
    </div>
  </div>
</div> -->

  <div class="grcontainer">
    <div class="row">
      <div class="large-12 columns text-center">
        <h2 class="margin2t">I need a website for my <span class="typed"></span> business</h2>
      </div>
      <div class="row">
        <div class="large-12 columns text-center">
          <a href="<%= front_howitworks_path%>" class="wbutton margin2t margin7b"><span class="margin01t black">GREAT! LETS GET STARTED</span></a>
        </div>
    </div>
  </div>

      <script src="assets/javascripts/application.js"></script>
      <script>
        $(function(){
            $(".typed").typed({
              strings: ["plumbing", "accounting", "decorating", "print", "music", "B&B", "landscaping", "jewellery", "marketing", "mechanic", "cafe", "nursery", "real estate", "removals" ],
              typeSpeed: 100,
              backDelay: 1000,
              loop: true,
              loopCount: false,
            });
        });
      </script>

<%= render "layouts/footer" %>

      </script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-54494775-1', 'auto');
  ga('send', 'pageview');
</script>
