
  <div class="margin7t">
    <div class="row">
      <div class="large-12 columns text-center">
        <h1 class="intro blue"><%== @content.header1 %></h1>
        <h3 class="blue"><%== @content.header2 %></h3>
        <a href="" class="videobutton margin3t"><%= image_tag "pb.png" %><span class="margin01t">WATCH THE VIDEO</span></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= image_tag "mountains.png" %>
    </div>
  </div>

  <div class="lgcontainer">
    <div class="row">
      <div class"large-12 columns">
        <br><br>
      </div>
    </div>
  </div>

  <div class="gcontainer">
    <div class="narrow">
      <div class="large-6 columns text-left content">
        <div class="margin5v">
          <h2><%== @content.section1header1 %></h2>
          <p class="margin2t"><%== @content.section1paragraph1 %></p>
        </div>
      </div>
    </div>
  </div>


  <div class="bcontainer">
    <div class="row">
      <div class="large-12 columns text-center">
        <h2 class="margin2t"><%= @content.section2header1 %></h2>
      </div>
    </div>
    <div class="narrower">
      <div class="large-12 columns text-center">
        <p class="margin2v"><%= @content.section2paragraph1 %></p>
      </div>
    </div>
    <div class="row dboverlay text-center">
      <div class="large-4 columns">
        <br>
      </div>
      <div class="large-4 columns content">
        <h1 class="margin5t blogdate content dbheaderborder">CONFIGURATION</h1>
        <h6 class="margin1t">Our panel gives you the power to edit content, post articles and keep track of your success effortlessly.</h6>
        <a href="<%= front_howitworks_path%>" class="wbutton margin2t"><span class="margin01t black">FIND OUT HOW IT WORKS</span></a>
      </div>
      <div class="large-4 columns">
        <br>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center">
        <%= image_tag("dashboard.png", class: "margin2t") %>
      </div>
    </div>
  </div>

  <div class="grcontainer">
    <div class="row">
      <div class="large-6 columns text-right">
        <h2 class="margin2t">I need a website for my</h2>
      </div>
      <div class="large-2 columns text-center">
        <h2 class="margin2t"><span class="typed"></span></h2>
      </div>
      <div class="large-4 columns text-left">
        <h2 class="margin2t">business.</h2>
      </div>
      <div class="row">
        <div class="large-12 columns text-center">
          <a href="<%= front_howitworks_path%>" class="wbutton margin2t margin7b"><span class="margin01t black">GREAT! LETS GET STARTED</span></a>
        </div>
    </div>
  </div>

      <script src="assets/javascripts/jquery.js"></script>
      <script src="assets/javascripts/typed.js"></script>
      <script>
        $(function(){
            $(".typed").typed({
              strings: ["plumbing", "accounting", "decoration", "print", "music", "B&B", "landscape", "jewellery", "marketing", "mechanic", "cafe", "nursery", "real estate", "removals" ],
              typeSpeed: 100,
              backDelay: 1000,
              loop: true,
              loopCount: false,
            });
        });
      </script>