<div class="lbcontainer">
<div class="lbcontainer underwater">
	<div class="narrow">
		<div class="large-6 columns content">
      <div class="margin5v">
        <%= form_for(@contact) do |f| %>
        <%= f.text_field :email, :required => true, :placeholder => "Email" %>
        <%= f.text_area :message, :as => :text, :required => true, :placeholder => "Message" %>
        <div class="row">
        	<div class="large-3 columns">
	          </br>
	          <%= f.submit "Send" %>
	        </div>
	        <div class="large-9 columns text-center">
  	        <p class="margin15t">(Our average response time is 60 minutes)</p>
  	      </div>
        </div>
        <% end %>
      </div>
		</div>
	</div>
</div>
</div>

<div class="bcontainer">
	<div class="margin4v">
		<div class="narrow">
			<div class="large-8 columns content">
				<h3 class="margin2b content faq lbcontainer">FAQ</h3>
				<p class="font09 content faq lbcontainer"><b>QUESTION </b>Our average response time is 60 minutes<br>
				   <b>ANSWER </b>Our average response time is 60 minutes</p>
				<p class="font09 content faq lbcontainer"><b>QUESTION </b>Our average response time is 60 minutes<br>
				   <b>ANSWER </b>Our average response time is 60 minutes</p>
				<p class="font09 content faq lbcontainer"><b>QUESTION </b>Our average response time is 60 minutes<br>
				   <b>ANSWER </b>Our average response time is 60 minutes</p>
				<p class="font09 content faq lbcontainer"><b>QUESTION </b>Our average response time is 60 minutes<br>
				   <b>ANSWER </b>Our average response time is 60 minutes</p>
			</div>
			<div class="large-4 columnscontent">
				<div class="lbcontainer content faq lbcontainer"><h3>Contact us directly</h3>><br><br><Br><br><br><br><br><br><br><br><br><br><br><br><br><br><Br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
			</div>
		</div>
	</div>
</div>

<%= render "layouts/footer" %>