<div class="lgcontainer">
	<div class="row">
		<div class="large-12 columns">
			<%= image_tag("volcanomountain.png", class: "margin10t") %>
		</div>
	</div>
</div>
<div align="center">
  <h3>Send A message to Us Lol</h3>

  <%= form_for(@contact) do |f| %>
    <%= f.label "Name" %>
    <%= f.text_field :name, :required => true %>
    <%= f.label "Email" %>
    <%= f.text_field :email, :required => true %>
    <%= f.label "Message" %>
    <%= f.text_area :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.text_field :nickname, :hint => 'Leave this field blank' %>
    </div>
    <div>
      </br>
      <%= f.submit %>
    </div>
  <% end %>
</div>
<div class="lgcontainer3">
	<div class="narrower">
		<div class="large-12 columns">
			<br><br>
		</div>
	</div>
</div>

<div class="grcontainer">
	<div class="narrower">
		<div class="large-12 columns">
			<br><br><br><Br>
		</div>
	</div>
</div>
<%= render "layouts/footer" %>