<%= render "bar" %>
<div class="narrow">
  <div class="large-12 columns text-center">
    <div class="gcontainer">
      <h4 class="margin0 padding07v">Manage Blog</h4>
    </div>
  </div>
</div>

<div class="narrow">
  <div class="pcontainer blue">
    <div class="row lineheight0">
      <div class="large-12 columns content">
        <div class="margin2t">
          <%= form_for(@blog) do |f| %>
            <%= f.label "Title" %>
            <%= f.text_field :title %>
            <%= f.label "Content" %>
            <%= f.text_area :content %>
            <%= f.submit "Create Blog Post" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns content">
        <div class="scrollbox margin2b">
          <% @blogPosts.each do |post| %>
            <div class="row scrollboxrow">
              <div class="large-2 columns text-left">
                <%= post.created_at.to_s(:short) %>
              </div>
              <div class="large-8 columns text-left">
                <%= post.title %>
              </div>
              <div class="large-1 columns text-right red">
                <%= link_to 'Edit', edit_blogpost_path(post) %>
              </div>
              <div class="large-1 columns text-right red">
                <%= link_to 'Destroy', post, method: :delete %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="dgcontainer">
    <div class="narrow">
      <div class="large-12 columns text-center">
        <%= image_tag("footerlogo.png", class: "logo margin2v") %>
      </div>
    </div>
  </div>