<div class="narrow">
  <div class="large-10 columns text-left">
    <%= image_tag("logo.png", class: "margin2v padding12h") %>
  </div>
  <div class="large-2 columns text-right">
    <a href="" class="websitebutton margin1t"><span class="margin01t">BACK TO WEBSITE</span></a>
  </div> 
</div> 

<div class="narrow">
  <div class="pcontainer">
    <div class="row lineheight0">
      <div class="large-12 columns">
        <div class="icon-bar four-up">
          <%= link_to(panel_statistics_path, class: "item") do %>
            <%= image_tag "icon1.png" %>
            <label>Dashboard</label>
          <% end %>
          <%= link_to(panel_pageedit_path, class: "item") do %>
            <%= image_tag "icon2.png" %>
            <label>Edit Content</label>
          <% end %>
          <%= link_to(panel_requestchange_path, class: "item") do %>
            <%= image_tag "icon3.png" %>
            <label>Request Change</label>
          <% end %>
          <%= link_to(panel_payment_path, class: "item") do %>
            <%= image_tag "icon4.png" %>
            <label>Manage Payments</label>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center">
        <div class="gcontainer">
          <h4 class="margin0 padding07v">Edit Content</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="narrow">
  <div class="pcontainer blue">
    <div class="row">
      <div class="large-12 columns content">
        <h4 class="margin2v">Edit Content</h4>
        <notice><%= notice %></notice>
        <h5>Home Page</h5>
        <%= form_for(@content) do |f| %>
          <%= f.label "First Header" %>
          <%= f.text_field :header1 %>
          <%= f.label "Second Header" %>
          <%= f.text_field :header2 %>
          <%= f.label "First Header, first section" %>
          <%= f.text_field :section1header1 %>
          <%= f.label "First paragraph, first section" %>
          <%= f.text_area :section1paragraph1 %>
          <%= f.label "First Header, second section" %>
          <%= f.text_field :section2header1 %>
          <%= f.label "First paragraph, second section" %>
          <%= f.text_area :section2paragraph1 %>
          <%= f.label "Second paragraph, second section" %>
          <%= f.text_area :section2paragraph2 %>
          <%= f.label "First Header, third section" %>
          <%= f.text_field :section3header1 %>
          <%= f.label "First paragraph, third section" %>
          <%= f.text_area :section3paragraph1 %>
          <%= f.submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
  <div class="dgcontainer">
    <div class="narrow">
      <div class="large-12 columns text-center">
        <%= image_tag("footerlogo.png", class: "margin2v") %>
      </div>
    </div>
  </div>