<%= render "bar" %>
<div class="narrow">
  <div class="large-12 columns text-center">
    <div class="gcontainer">
      <h4 class="margin0 padding07v">Edit Content</h4>
    </div>
  </div>
</div>

<div class="narrow">
  <div class="pcontainer">
    <div class="row">
      <div class="large-12 columns">
        <div class="margin2b">
          <ul class="tabs" data-tab>
            <li class="tab-title active"><a href="#home">HOME</a></li>
            <li class="tab-title"><a href="#howitworks">HOW IT WORKS</a></li>
            <li class="tab-title"><a href="#blog">BLOG</a></li>
            <li class="tab-title"><a href="#panel2-4">CONNECT</a></li>
          </ul>
        </div>
        <div class="row">
          <div class="large-12 columns content">
            <% if flash[:notice] %>
              <div data-alert class="alert-box success radius content">
                <%= notice %>
                <a href="" class="close">&times;</a>
              </div>
            <% end %>
            <% if flash[:alert] %>
              <div data-alert class="alert-box alert radius content">
                  <%= alert %>
                <a href="" class="close">&times;</a>
              </div>
            <% end %>
          </div>
        </div>
        <div class="tabs-tabcontent">
          <div class="tabcontent active" id="home">
            <div class="blue content">
              <%= form_for(@content) do |f| %>
                <%= f.label "First Header" %>
                <%= f.text_field :section1 %>
                <%= f.label "Second Header" %>
                <%= f.text_field :section2 %>
                <%= f.label "First Header, first section" %>
                <%= f.text_field :section3 %>
                <%= f.label "First paragraph, first section" %>
                <%= f.text_area :section4 %>
                <%= f.label "First Header, second section" %>
                <%= f.text_field :section5 %>
                <%= f.label "First paragraph, second section" %>
                <%= f.text_area :section6 %>
                <%= f.label "Second paragraph, second section" %>
                <%= f.text_area :section7 %>
                <%= f.label "First Header, third section" %>
                <%= f.text_field :section8 %>
                <%= f.label "First paragraph, third section" %>
                <%= f.text_area :section9 %>
                <%= f.submit %>
              <% end %>
            </div>
          </div>
          <div class="tabcontent" id="howitworks">
            <div class="blue content margin2t">
              <p>Instert second panel content here</p>
            </div>
          </div>
          <div class="tabcontent" id="blog">
            <div class="blue content margin2t">
              <p>Instert third panel content here</p>
            </div>
          </div>
          <div class="tabcontent" id="panel2-4">
            <div class="blue content margin2t">
              <p>Instert fourth panel content here</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="dgcontainer">
    <div class="narrow">
      <div class="large-12 columns text-center">
        <%= image_tag("footerlogo.png", class: "margin2v") %>
      </div>
    </div>
  </div>