<div class="narrow">
  <div class="large-12 columns text-center">
    <%= image_tag("logo.png", class: "margin2v padding12h") %>
  </div>
</div> 

<div class="narrow">
  <div class="pcontainer">
    <div class="row lineheight0">
      <div class="large-12 columns">
        <div class="icon-bar four-up">
          <%= link_to(panel_statistics_path, class: "item") do %>
            <%= image_tag "icon1.png" %>
            <label>Dashboard</label>
          <% end %>
          <%= link_to(panel_pageedit_path, class: "item") do %>
            <%= image_tag "icon2.png" %>
            <label>Edit Content</label>
          <% end %>
          <%= link_to(panel_requestchange_path, class: "item") do %>
            <%= image_tag "icon3.png" %>
            <label>Request Change</label>
          <% end %>
          <%= link_to(panel_payment_path, class: "item") do %>
            <%= image_tag "icon4.png" %>
            <label>Manage Payments</label>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center">
        <div class="gcontainer">
          <h4 class="margin0 padding07v">Request Change</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="narrow">
  <div class="pcontainer">
  </div>
</div>

  <div class="dgcontainer">
    <div class="narrow">
      <div class="large-12 columns text-center">
        <%= image_tag("footerlogo.png", class: "margin2v") %>
      </div>
    </div>
  </div>