<%= render "bar" %>
<div class="narrow">
  <div class="large-12 columns text-center">
    <div class="gcontainer">
      <h4 class="margin0 padding07v">Request Change</h4>
    </div>
  </div>
</div>

<div class="narrow">
  <div class="pcontainer blue">
    <div class="row lineheight0">
      <div class="large-12 columns content">
        <div class="margin2t">
          <%= form_for(@request) do |f| %>
            <%= f.label "Company" %>
            <%= f.select :name, options_for_select([@website]) %>
            <%= f.label "Email" %>
            <%= f.select :email, options_for_select([@current_user.email]) %>
            <%= f.label "Message" %>
            <%= f.text_area :message, :as => :text, :required => true %>
            <%= f.text_field :nickname, :hint => 'Leave this field blank' %>
            <div>
              </br>
              <%= f.submit %>
            </div>
          <% end %>
        </div>
      </div>
  <div align="center">
  <h3><%= "Send A message to Us Lol #{@website}" %></h3>
  </div>
</div>

  <div class="dgcontainer">
    <div class="narrow">
      <div class="large-12 columns text-center">
        <%= image_tag("footerlogo.png", class: "margin2v") %>
      </div>
    </div>
  </div>