<%= render "bar" %>
<div class="narrow">
  <div class="large-12 columns text-center">
    <div class="gcontainer">
      <h4 class="margin0 padding07v">Dashboard</h4>
    </div>
  </div>
</div>
 
<div class="narrow">
  <div class="pcontainer">
    <div class="row lgcontainer2">
      <div class="large-6 columns">
        <p class="lineheight0 margin15 thin">Welcome, <%= current_user.email %> | <%= link_to "Edit Account", edit_user_registration_path %></p>
      </div>
      <div class="large-6 columns text-right">
        <p class="lineheight0 margin15 thin"><%= Time.now.to_date.to_formatted_s(:long_ordinal) %> | <%= Time.now.strftime('%R') %></p>
      </div>
    </div>
    <div class="row padding2v">
      <div class="large-3 columns content text-center">
        <div class="bcontainer padding1v">
          <h1><%= days_ago(@creationTime) %></h1>
          <p>days online</p>
        </div>
      </div>
      <div class="large-3 columns content text-center">
        <div class="bcontainer padding1v">
          <h1><%= @viewscount %></h1>
          <p>total page views</p>
        </div>
      </div>
      <div class="large-3 columns content text-center">
        <div class="bcontainer padding1v">
          <h1><%= @viewstoday %></h1>
          <p>views today</p>
        </div>
      </div>
      <div class="large-3 columns content text-center">
        <div class="bcontainer padding1v">
          <h1><%= @blogCount %></h1>
          <p>blog posts</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center blue">
        <% if @subscription == true %>
          <h3 class="margin2v">Your devonite subscription is <b>active</b>.</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="dgcontainer">
  <div class="narrow">
    <div class="large-12 columns text-center">
      <%= image_tag("footerlogo.png", class: "logo margin2v") %>
    </div>
  </div>
</div>

