<!DOCTYPE html>
<html>
<head>
  <%= metamagic %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="dgcontainer blogpage">

<div class="navrow padding15v">
  <div class="large-12 columns">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#" class="harimo"><%= image_tag("footerlogo.png", class: "logo", alt: "Devonite Website Design") %></a></h1>
        </li>
         <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li><%= link_to(root_path) do %>HOME<% end %></li>
          <li><%= link_to(howitworks_path) do %>HOW IT WORKS<% end %></li>
          <li><%= link_to(blog_path) do %>BLOG<% end %></li>
          <li><%= link_to(support_path) do %>SUPPORT<% end %></li>
          <a href="http://www.twitter.com/devoniteuk"><div class="loginbutton"><%= image_tag("twitterbird.png", alt: "twitter") %><span class="margin01t"></span></div></a>
        </ul>
      </section>
    </nav>
  </div>
</div>



<%= yield %>

  <div class="dgcontainer">
    <div class="narrow">
      <div class="large-12 columns text-center">
        <% if user_signed_in? %>
          <%= link_to(panel_statistics_path) do %>
            <%= image_tag("footerlogo.png", class: "logo margin2v", alt: "Devon") %>
          <% end %>
          <% else %>
            <%= link_to(new_user_session_path) do %>
              <%= image_tag("footerlogo.png", class: "logo margin2v", alt: "Devon") %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>

    <script src="assets/javascripts/application.js"></script></script>
    <script>
      $(document).foundation();
    </script>

</body>
</html>
